$baseFontSize: 16;

// Colors
$black: #161616;
$white: #fff;
$gray: #a9acb6;
$gray-dark: #85878d;
$gray-light: #d9ddec;
$gold: #e9c294;
$red: #f00;

// Fonts
$primary: 'Noto_Sans', sans-serif;

$defaultSize: 16px;

// Breakpoints
$grid-breakpoints: (
  sm: 900px,
  md: 1024px,
  lg: 1366px,
  xl: 1920px,
) !default;

@mixin breakpoint($bp, $rule: min-width) {
  @media screen and (#{$rule}: map-get($grid-breakpoints, $bp)) {
    @content;
  }
}

// Transition time
$transition-time: 0.24s;
