.alert {
  background-color: $gold;
  left: 0;
  padding: 16px;
  //position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  &__description {
    color: $black;
    display: block;
    text-align: center;
  }
}
