.controls {
  background: radial-gradient(57.5% 1691.47% at 50% 65.25%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%),
    #202020;
  bottom: 0;
  box-shadow: 0 -25px 8px rgba(0, 0, 0, 0.25);
  height: 59px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;
  @include breakpoint(sm) {
    height: 98px;
  }
  @include breakpoint(lg) {
    background-color: #202020;
    left: 253px;
  }
  @include breakpoint(xl) {
    height: 119px;
    left: 379px;
  }

  &__container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    max-width: 290px;
    @include breakpoint(sm) {
      justify-content: flex-start;
      max-width: 1410px;
    }
    @include breakpoint(lg) {
      padding-left: 67px;
    }
    @include breakpoint(xl) {
      padding-left: 110px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include breakpoint(sm) {
      width: 54%;
    }
  }

  &__item {
    @include breakpoint(sm) {
      flex-grow: 2;
    }
  }

  &__button {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--volume {
      @include breakpoint(sm) {
        order: 1;
        width: 86px;
      }
    }

    &--source {
      @include breakpoint(sm) {
        order: 2;
        width: 86px;
      }
    }
  }

  &__current-item {
    display: none;
    @include breakpoint(sm) {
      display: flex;
      padding-right: 15px;
      width: 46%;
    }
  }
}
