.current-item {
  &__figure {
    @include breakpoint(sm) {
      display: flex;
      height: 57px;
      width: 56px;
    }
  }

  &__contains {
    @include breakpoint(sm) {
      padding-left: 24px;
      width: calc(100% - 56px);
    }
    @include breakpoint(md) {
      padding-left: 31px;
    }
  }

  &__name {
    @include breakpoint(sm) {
      color: $gold;
      display: block;
      font-size: 14px;
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__description {
    @include breakpoint(sm) {
      color: $white;
      display: block;
      font-size: 12px;
      margin-bottom: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__timer {
    @include breakpoint(sm) {
      color: $white;
      display: block;
      font-size: 10px;
    }
  }
}
