$imagesPath: '../../assets';

@keyframes full-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.station-item {
  background-color: #202020;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  min-height: 110px;
  padding: 15px;
  padding-bottom: 37px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
  user-select: none;
  @include breakpoint(sm) {
    margin-bottom: 22px;
    margin-left: 22px;
    padding: 40px;
    position: relative;
    width: calc(50% - 22px);
  }
  @include breakpoint(md) {
    margin-bottom: 18px;
    margin-left: 18px;
    width: calc(33.333% - 18px);
  }
  @include hovering {
    &:hover {
      .station-item {
        &__image {
          filter: grayscale(0);
        }

        &__name {
          color: $gold;
        }

        &__description {
          color: $white;
        }
      }
    }
  }
  @include breakpoint(xl) {
    margin-bottom: 23px;
    margin-left: 23px;
    padding-bottom: 44px;
    padding-top: 44px;
    width: calc(33.333% - 23px);
  }

  &__container {
    display: flex;
    @include breakpoint(sm) {
      display: block;
    }
  }

  &__contains {
    padding-left: 20px;
    padding-right: 15px;
    @include breakpoint(sm) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  &__name {
    color: $gray;
    display: flex;
    justify-content: space-between;
    line-height: 1.1;
    margin-bottom: 10px;
    transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    word-break: break-all;
    @include breakpoint(sm) {
      font-size: 25px;
      margin-bottom: 5px;
    }
    @include breakpoint(md) {
      font-size: 22px;
      margin-bottom: 12px;
    }
  }

  &__description {
    color: $gray-dark;
    display: block;
    font-size: 10px;
    transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    word-break: break-all;
    @include breakpoint(sm) {
      font-size: 15px;
    }
    @include breakpoint(md) {
      font-size: 12px;
    }
  }

  &__figure {
    align-items: stretch;
    justify-content: stretch;
    max-width: 65px;
    min-width: 65px;
    position: relative;
    transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    @include breakpoint(sm) {
      height: 155px;
      margin-bottom: 34px;
      max-width: 100%;
      width: 155px;
    }
    @include breakpoint(md) {
      height: 134px;
      margin-bottom: 20px;
      width: 134px;
    }
    @include breakpoint(xl) {
      height: 181px;
      margin-bottom: 34px;
      width: 181px;
    }

    &::after {
      @include breakpoint(sm) {
        animation: full-rotate 5s linear infinite;
        background-image: url('#{$imagesPath}/stations/station-active.svg');
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        height: 155px;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
        width: 155px;
      }
      @include breakpoint(md) {
        height: 134px;
        width: 134px;
      }
      @include breakpoint(xl) {
        height: 181px;
        width: 181px;
      }
    }
  }

  &__image {
    filter: grayscale(1);
    object-fit: cover;
    position: relative;
    transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    width: 100%;
    z-index: 1;
  }

  &__timer {
    margin-top: 9px;
  }

  &__statuses {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 5px;
    min-height: 17px;
  }

  &__status {
    margin-left: 12px;
    @include breakpoint(sm) {
      position: absolute;
      right: 33px;
      top: 33px;
    }

    &.status--more {
      display: none;
      @include breakpoint(lg) {
        position: absolute;
        right: 33px;
        top: 25px;
      }

      .station-item--current & {
        display: flex;
      }
    }
  }

  &--current {
    background: linear-gradient(100.88deg,
    rgba(156, 156, 156, 0.37) -3.1%,
    rgba(20, 20, 20, 0.37) 50.26%),
      rgba(45, 45, 45, 0.37);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    @include breakpoint(sm) {
      margin-left: 50px;
      width: calc(50% - 50px);
    }
    @include breakpoint(md) {
      margin-left: 50px;
      width: calc(33.333% - 50px);
    }
    @include breakpoint(xl) {
      margin-left: 70px;
      width: calc(33.333% - 70px);
    }
  }

  &--current & {
    &__name {
      color: $gold;
    }

    &__description {
      color: $white;
    }

    &__figure {
      @include breakpoint(sm) {
        height: 155px;
        margin-left: -72px;
        width: 155px;
        @include breakpoint(md) {
          height: 134px;
          width: 134px;
        }
        @include breakpoint(xl) {
          height: 181px;
          margin-left: -91px;
          width: 181px;
        }
      }

      &::after {
        height: 56px;
        opacity: 1;
        right: -50%;
        width: 56px;
        @include breakpoint(sm) {
          height: 155px;
          width: 155px;
        }
        @include breakpoint(md) {
          height: 134px;
          width: 134px;
        }
        @include breakpoint(xl) {
          height: 181px;
          width: 181px;
        }
      }
    }

    &__contains {
      @include breakpoint(sm) {
        width: 100%;
      }
    }

    &__image {
      filter: grayscale(0);
    }
  }
}
