.error-page {
  &__title {
    font-size: 120px;
    @include breakpoint(sm) {
      font-size: 290px;
      line-height: 1.1;
    }
  }

  &__desc {
    font-size: 20px;
    margin-bottom: 15px;
    @include breakpoint(sm) {
      font-size: 24px;
    }
  }

  &__text {
    font-size: 16px;
  }
}
