.text-page {
  &__item {
    margin-bottom: 33px;
    @include breakpoint(sm) {
      margin-bottom: 37px;
    }
    @include breakpoint(md) {
      margin-bottom: 61px;
    }
  }

  &__contains {
    padding-left: 23px;
  }
}

.paypal {
  &__field {
    text-align: center;
    &--hidden {
      display: none;
    }
  }
  &__error {
    visibility: hidden;
    color: red;
    text-align: center;
  }
  &__btn {
    text-align: center;
    margin-top: 0.625rem;
  }
}