$imagesPath: '../../assets';

body {
  background-color: $black;
  background-image: url('#{$imagesPath}/main-background.svg');
  background-repeat: repeat;
}

.timer {
  color: $gray-dark;
  font-size: 9px;
}

.status {
  color: $black;
  font-size: 12px;
  font-weight: 500;
  background-color: $gold;
  border-radius: 1px;
  display: inline-flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  @include breakpoint(sm) {
    padding-left: 12px;
    padding-right: 12px;
    height: 22px;
  }
  &--more {
    font-size: 11px;
    font-weight: 500;
    background-color: transparent;
    color: #b5b5b5;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    @include breakpoint(sm) {
      &:hover {
        background-color: #b5b5b5;
        color: $black;
      }
    }
  }
}

.stations {
  @include breakpoint(sm) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -22px;
  }
  @include breakpoint(md) {
    margin-left: -18px;
  }
  @include breakpoint(xl) {
    margin-left: -23px;
  }
}

.stationItem {
  border-radius: 4px;
  background-color: #202020;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 10px;
  transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
  cursor: pointer;
  user-select: none;
  @include breakpoint(sm) {
    width: calc(50% - 22px);
    position: relative;
    margin-left: 22px;
    margin-bottom: 22px;
    padding-top: 33px;
    padding-bottom: 33px;
  }
  @include breakpoint(md) {
    width: calc(33.333% - 18px);
    margin-left: 18px;
    margin-bottom: 18px;
  }
  @include breakpoint(lg) {
    &:hover {
      .stationItem {
        &__image {
          filter: grayscale(0);
        }
        &__name {
          color: $gold;
        }
        &__description {
          color: $white;
        }
      }
    }
  }
  @include breakpoint(xl) {
    width: calc(33.333% - 23px);
    margin-left: 23px;
    margin-bottom: 23px;
    padding-top: 44px;
    padding-bottom: 44px;
  }
  &__container {
    display: flex;
    @include breakpoint(sm) {
      display: block;
    }
    @include breakpoint(md) {
      width: calc(100% - 70px);
    }
    @include breakpoint(xl) {
      width: calc(100% - 86px);
    }
  }
  &__contains {
    width: calc(100% - 41px);
    padding-left: 27px;
    @include breakpoint(sm) {
      width: 100%;
      padding-left: 0;
    }
  }
  &__name {
    color: $gray;
    line-height: 1.1;
    display: block;
    transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include breakpoint(sm) {
      font-size: 25px;
      margin-bottom: 5px;
    }
    @include breakpoint(md) {
      font-size: 22px;
      margin-bottom: 12px;
    }
  }
  &__description {
    display: block;
    max-width: 100%;
    font-size: 10px;
    color: $gray-dark;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    @include breakpoint(sm) {
      font-size: 15px;
    }
    @include breakpoint(md) {
      font-size: 12px;
    }
  }
  &__figure {
    position: relative;
    width: 41px;
    height: 41px;
    transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    @include breakpoint(sm) {
      width: 155px;
      height: 155px;
      margin-bottom: 34px;
    }
    @include breakpoint(md) {
      width: 134px;
      height: 134px;
      margin-bottom: 20px;
    }
    @include breakpoint(xl) {
      width: 181px;
      height: 181px;
      margin-bottom: 34px;
    }
    &::after {
      content: '';
      width: 41px;
      height: 41px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background-image: url('#{$imagesPath}/stations/station-active.svg');
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
      @include breakpoint(sm) {
        width: 155px;
        height: 155px;
      }
      @include breakpoint(md) {
        width: 134px;
        height: 134px;
      }
      @include breakpoint(xl) {
        width: 181px;
        height: 181px;
      }
    }
  }
  &__image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
  }
  &__timer {
    margin-top: 9px;
    @include breakpoint(sm) {
      display: none;
    }
  }
  &__status {
    margin-left: 12px;
    @include breakpoint(sm) {
      position: absolute;
      top: 33px;
      right: 33px;
    }
  }
  &--current {
    background: linear-gradient(
        100.88deg,
        rgba(156, 156, 156, 0.37) -3.1%,
        rgba(20, 20, 20, 0.37) 50.26%
      ),
      rgba(45, 45, 45, 0.37);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    @include breakpoint(sm) {
      width: calc(50% - 50px);
      margin-left: 50px;
    }
    @include breakpoint(md) {
      width: calc(33.333% - 50px);
      margin-left: 50px;
    }
    @include breakpoint(xl) {
      width: calc(33.333% - 70px);
      margin-left: 70px;
    }
  }
  &--current & {
    &__name {
      color: $gold;
    }
    &__description {
      color: $white;
    }
    &__figure {
      width: 56px;
      height: 56px;
      margin-left: -35px;
      @include breakpoint(sm) {
        width: 155px;
        height: 155px;
        margin-left: -72px;
        @include breakpoint(md) {
          width: 134px;
          height: 134px;
        }
        @include breakpoint(xl) {
          width: 181px;
          height: 181px;
          margin-left: -91px;
        }
      }
      &::after {
        opacity: 1;
        right: -15px;
        width: 56px;
        height: 56px;
        @include breakpoint(sm) {
          width: 155px;
          height: 155px;
          right: -40px;
        }
        @include breakpoint(md) {
          width: 134px;
          height: 134px;
        }
        @include breakpoint(xl) {
          width: 181px;
          height: 181px;
        }
      }
    }
    &__contains {
      width: calc(100% - 56px);
      @include breakpoint(sm) {
        width: 100%;
      }
    }
    &__image {
      filter: grayscale(0);
    }
  }
}
