*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}
ul,
ol {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
  border-radius: 0;
}
button {
  padding-left: 5px;
  padding-right: 5px;
}
a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}
input::-ms-clear {
  display: none;
}
@keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

@media print {
  .no-print {
    display: none !important;
  }
}

.hidden-block {
  display: none !important;
}

button {
  cursor: pointer;
  user-select: none;
}

:disabled {
  cursor: default;
}

::selection {
  background-color: $gray;
  color: $gold;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $primary;
  font-size: $defaultSize;
}

.hidden-overflow {
  position: relative;
  overflow: hidden;
  &.bx-no-touch {
    padding-right: 16px;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.container {
  max-width: 1410px;
  width: calc(100% - 30px);
  margin: 0 auto;
  @include breakpoint(sm) {
    width: calc(100% - 90px);
  }
  @include breakpoint(md) {
    width: calc(100% - 100px);
  }
  @include breakpoint(xl) {
    width: calc(100% - 116px);
  }
  &--offset {
    &_top {
      margin-top: 25px;
      @include breakpoint(sm) {
        margin-top: 34px;
      }
      @include breakpoint(md) {
        margin-top: 48px;
      }
      @include breakpoint(lg) {
        margin-top: 77px;
      }
      @include breakpoint(xl) {
        margin-top: 66px;
      }
    }
    &_left {
      @include breakpoint(lg) {
        padding-left: 319px;
      }
      @include breakpoint(xl) {
        padding-left: 298px;
      }
    }
    &_bottom {
      padding-bottom: 59px;
      @include breakpoint(sm) {
        padding-bottom: 98px;
      }
      @include breakpoint(xl) {
        padding-bottom: 119px;
      }
    }
  }
}
