.button {
  border: none;
  background-color: transparent;
  @include breakpoint(lg) {
    &:hover {
      .button__text {
        color: $white;
      }
    }
  }
  &__text {
    display: block;
    width: 100%;
    margin-top: 4px;
    font-size: 10px;
    color: $gray-dark;
    @include breakpoint(sm) {
      margin-top: 8px;
    }
    @include breakpoint(lg) {
      transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    }
  }
  svg path {
    @include breakpoint(lg) {
      transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    }
  }
}

.playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.14) -10.5%,
      rgba(255, 255, 255, 0) 53.4%
    ),
    rgba(220, 220, 220, 0.1);
  position: relative;
  @include breakpoint(sm) {
    width: 56px;
    height: 56px;
  }
  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 17px;
    margin-left: 3px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='22' fill='none' viewBox='0 0 15 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V22L15 11L0 0Z' fill='%2385878d' fill-opacity='1'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint(sm) {
      width: 17px;
      height: 25px;
      margin-left: 4px;
    }
  }
  &.pause {
    &::after {
      width: 16px;
      margin-left: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1' fill='white'%3E%3Crect width='6' height='17' rx='1'/%3E%3C/mask%3E%3Crect width='6' height='17' rx='1' stroke='%23E9C294' stroke-width='4' mask='url(%23path-1-inside-1)'/%3E%3Cmask id='path-2-inside-2' fill='white'%3E%3Crect x='10' width='6' height='17' rx='1'/%3E%3C/mask%3E%3Crect x='10' width='6' height='17' rx='1' stroke='%23E9C294' stroke-width='4' mask='url(%23path-2-inside-2)'/%3E%3C/svg%3E%0A");
      @include breakpoint(sm) {
        width: 21px;
        height: 22px;
        margin-left: 0;
      }
    }
  }
}

.volumeButton {
  @include breakpoint(lg) {
    &:hover {
      svg path {
        fill: $white;
      }
    }
  }
  svg {
    @include breakpoint(sm) {
      width: 25px;
      height: 21px;
    }
  }
}

.sourceButton {
  @include breakpoint(lg) {
    &:hover {
      svg path {
        fill: $white;
      }
    }
  }
  svg {
    @include breakpoint(sm) {
      width: 21px;
      height: 21px;
    }
  }
}
