.status {
  color: $black;
  font-size: 12px;
  font-weight: 500;
  background-color: $gold;
  border-radius: 1px;
  display: inline-flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  @include breakpoint(sm) {
    padding-left: 12px;
    padding-right: 12px;
    height: 22px;
  }
  &--more {
    font-size: 11px;
    font-weight: 500;
    background-color: transparent;
    color: #b5b5b5;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    @include hovering {
      &:hover {
        background-color: #b5b5b5;
        color: $black;
      }
    }
  }
}
