.header-menu {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $black;
  pointer-events: none;
  background-image: url('../../../assets/main-background.svg');
  background-repeat: repeat;
  z-index: 9999;
  transition: all 0.8s cubic-bezier(0.42, 0, 0.02, 1.05);
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
  @include breakpoint(lg) {
    height: 100vh;
    display: flex;
    position: relative;
    top: 0;
    padding-top: 45px;
    opacity: 1;
    background-image: none;
    background-color: #2a2a2a;
    pointer-events: all;
    transition: all 0s;
  }
  @include breakpoint(xl) {
    background-color: #202020;
    padding-bottom: 29px;
    overflow: hidden;
  }
  &.visible {
    height: 100vh;
    pointer-events: all;
  }
  &__container {
    position: relative;
    padding-top: 19px;
    padding-bottom: 33px;
    padding-left: 15px;
    @include breakpoint(sm) {
      padding-top: 36px;
      padding-bottom: 40px;
      padding-left: 38px;
    }
    @include breakpoint(md) {
      padding-top: 45px;
      padding-left: 47px;
    }
    @include breakpoint(lg) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 10px;
      padding-top: 193px;
    }
    @include breakpoint(xl) {
      padding-top: 284px;
      padding-bottom: 0;
    }
  }
  &__button {
    background-color: transparent;
    border: 0;
    display: block;
    width: 28px;
    height: 28px;
    margin-left: auto;
    padding: 6px;
    transform: scale(0);
    transition: all 0.8s cubic-bezier(0.42, 0, 0.02, 1.05);
    @include breakpoint(sm) {
      width: 35px;
      height: 35px;
    }
    @include breakpoint(lg) {
      display: none;
    }
    svg {
      width: 100%;
      height: 100%;
    }
    .visible & {
      transform: scale(1);
    }
  }
  &__list {
    padding-right: 10px;
    margin-top: 18px;
    margin-bottom: 49px;
    @include breakpoint(sm) {
      margin-top: 84px;
      margin-bottom: 139px;
    }
    @include breakpoint(md) {
      margin-top: 40px;
      margin-bottom: 61px;
    }
    @include breakpoint(lg) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__item {
    overflow: hidden;
  }
  &__link {
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 24px;
    color: $gray-light;
    position: relative;
    transform: translateY(100%);
    transition: all 0.8s cubic-bezier(0.42, 0, 0.02, 1.05);
    @include breakpoint(sm) {
      font-size: 38px;
      padding-top: 14px;
      padding-bottom: 14px;
    }
    @include breakpoint(md) {
      font-size: 32px;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    @include breakpoint(lg) {
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
      transform: translateY(0);
    }
    @include breakpoint(xl) {
      font-size: 20px;
      padding-top: 11px;
      padding-bottom: 11px;
    }
    &.active {
      color: $gold;
      pointer-events: none;
    }
    .visible & {
      transform: translateY(0);
    }
  }
  &__contains {
    @include breakpoint(sm) {
      display: flex;
      justify-content: space-between;
      width: calc(100% + 38px);
      margin-left: -38px;
      padding-top: 38px;
      border-top: 1px solid $gray-dark;
    }
    @include breakpoint(md) {
      width: calc(100% + 47px);
      margin-left: -47px;
      padding-top: 28px;
      padding-left: 47px;
    }
    @include breakpoint(lg) {
      border-top: 0;
      padding-top: 60px;
    }
  }
  &__logo {
    display: none;
    @include breakpoint(sm) {
      display: block;
      width: 193px;
      height: 102px;
      margin-top: -5px;
      padding-left: 49px;
      padding-right: 36px;
      border-left: 1px solid $gray-dark;
    }
    @include breakpoint(md) {
      width: 151px;
      height: 80px;
      margin-top: 0;
      padding-left: 36px;
      padding-right: 29px;
    }
    @include breakpoint(lg) {
      position: absolute;
      top: 0;
      border-left: 0;
      width: 88px;
      height: 80px;
      padding-left: 0;
      padding-right: 0;
    }
    @include breakpoint(xl) {
      width: 112px;
      height: 117px;
    }
    @include hovering {
      &:hover {
        svg path {
          fill: $gold;
        }
      }
    }
    svg {
      @include breakpoint(sm) {
        margin-top: -5px;
      }
      @include breakpoint(md) {
        margin-top: -3px;
      }
      path {
        @include breakpoint(lg) {
          fill: $gray-light;
        }
        @include hovering {
          transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
        }
      }
    }
  }
  &__bottom {
    opacity: 0;
    transition: opacity 0.5s linear;
    @include breakpoint(lg) {
      opacity: 1;
      transition: opacity 0;
    }
    .visible & {
      opacity: 1;
    }
  }
}

.contacts {
  padding-right: 10px;
  margin-bottom: 63px;
  @include breakpoint(sm) {
    font-size: 16px;
    margin-bottom: 85px;
  }
  @include breakpoint(md) {
    margin-bottom: 69px;
  }
  @include breakpoint(lg) {
    margin-bottom: 0;
  }
  &__title {
    display: block;
    width: max-content;
    margin-bottom: 15px;
    font-size: 11px;
    color: $gold;
    @include breakpoint(sm) {
      font-size: 14px;
      margin-bottom: 24px;
    }
    @include breakpoint(md) {
      font-size: 12px;
      margin-bottom: 15px;
    }
    @include breakpoint(lg) {
      margin-bottom: 12px;
    }
    @include breakpoint(xl) {
      font-size: 16px;
    }
  }
  &__link {
    font-size: 16px;
    display: block;
    width: max-content;
    padding-top: 2px;
    padding-bottom: 2px;
    @include breakpoint(lg) {
      font-size: 13px;
    }
    @include breakpoint(xl) {
      font-size: 16px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

.download {
  @include breakpoint(xl) {
    min-width: calc(100% + 127px);
    max-width: calc(100% + 127px);
    margin-left: -68px;
    padding-top: 24px;
    padding-left: 65px;
    padding-right: 65px;
    border-top: 2px solid #2a2a2a;
  }
  &__title {
    display: block;
    font-size: 12px;
    color: $gray-dark;
    margin-bottom: 15px;
    @include breakpoint(sm) {
      font-size: 12px;
    }
    @include breakpoint(md) {
      margin-bottom: 19px;
    }
    @include breakpoint(lg) {
      display: none;
    }
    @include breakpoint(xl) {
      display: block;
      font-size: 11px;
    }
  }
  &__list {
    display: flex;
    @include breakpoint(lg) {
      flex-wrap: wrap;
    }
  }
  &__link {
    width: 124px;
    margin-right: 9px;
    @include breakpoint(sm) {
      width: 148px;
      margin-right: 17px;
    }
    @include breakpoint(md) {
      width: 125px;
    }
    @include breakpoint(lg) {
      width: 102px;
      margin-bottom: 10px;
    }
    @include breakpoint(xl) {
      width: 110px;
      height: 30px;
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  &__image {
    width: 100%;
    @include breakpoint(lg) {
      transition: filter 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
      filter: invert(0);
      &:hover {
        filter: invert(1);
      }
    }
  }
}
