.button {
  background-color: transparent;
  border: 0;
  @include hovering {
    &:hover {
      .button__text {
        color: $white;
      }
    }
  }

  &__text {
    color: $gray-dark;
    display: block;
    font-size: 10px;
    margin-top: 4px;
    width: 100%;
    @include breakpoint(sm) {
      margin-top: 8px;
    }
    @include hovering {
      transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    }
  }

  svg path {
    @include hovering {
      transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    }
  }
}
