.play-button {
  align-items: center;
  background: linear-gradient(0deg,
  rgba(255, 255, 255, 0.14) -10.5%,
  rgba(255, 255, 255, 0) 53.4%),
    rgba(220, 220, 220, 0.1);
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
  @include breakpoint(sm) {
    height: 56px;
    width: 56px;
  }

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='22' fill='none' viewBox='0 0 15 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V22L15 11L0 0Z' fill='%2385878d' fill-opacity='1'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 17px;
    margin-left: 3px;
    width: 12px;
    @include breakpoint(sm) {
      height: 25px;
      margin-left: 4px;
      width: 17px;
    }
  }

  &.pause {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1' fill='white'%3E%3Crect width='6' height='17' rx='1'/%3E%3C/mask%3E%3Crect width='6' height='17' rx='1' stroke='%23E9C294' stroke-width='4' mask='url(%23path-1-inside-1)'/%3E%3Cmask id='path-2-inside-2' fill='white'%3E%3Crect x='10' width='6' height='17' rx='1'/%3E%3C/mask%3E%3Crect x='10' width='6' height='17' rx='1' stroke='%23E9C294' stroke-width='4' mask='url(%23path-2-inside-2)'/%3E%3C/svg%3E%0A");
      margin-left: 0;
      width: 16px;
      @include breakpoint(sm) {
        height: 22px;
        margin-left: 0;
        width: 21px;
      }
    }
  }
}
