.stationDetail {
  overflow: auto;
  &__name {
    color: $gray-light;
    font-size: 12px;
    @include breakpoint(sm) {
      font-size: 18px;
    }
  }
  &__figure {
    width: 100%;
    max-width: 500px;
    min-height: 32vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  &__image {
    width: 100%;
    object-fit: cover;
    transform: scale(0);
    transition: all 0.8s cubic-bezier(0.42, 0, 0.02, 1.05);
    .visible & {
      transform: scale(1);
    }
  }
  &__description {
    text-align: center;
  }
}
