.title {
  color: $white;
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  @include breakpoint(sm) {
    font-size: 34px;
    margin-bottom: 26px;
  }
}

.text {
  color: $gray;
  font-size: 12px;
  line-height: 1.6;
  @include breakpoint(sm) {
    font-size: 16px;
    line-height: 2;
  }

  &--theme {
    &_gold {
      color: $gold;
    }

    &_light {
      color: $gray-light;
    }

    &_dark {
      color: $gray-dark;
    }
  }

  &--size {
    &_sm {
      font-size: 10px;
      @include breakpoint(sm) {
        font-size: 12px;
      }
      @include breakpoint(md) {
        font-size: 14px;
      }
    }
  }

  &--offset {
    &_bottom {
      display: block;
      margin-bottom: 18px;
      @include breakpoint(sm) {
        margin-bottom: 24px;
      }
    }
  }
}
