*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

$imagesPath: '../assets';

body {
  background-color: $black;
  //background-image: url('#{$imagesPath}/main-background.svg');
  background-repeat: repeat;
  color: $gray;
  line-height: 1.4;
  //min-height: 100vh;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeSpeed;
}

img {
  display: block;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  border-radius: 0;
  font: inherit;
}

button {
  padding-left: 5px;
  padding-right: 5px;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

input::-ms-clear {
  display: none;
}
@keyframes autofill {
  to {
    background: transparent;
    color: inherit;
  }
}

input:-webkit-autofill {
  animation-fill-mode: both;
  animation-name: autofill;
}

@media print {
  .no-print {
    display: none !important;
  }
}

.hidden-block {
  display: none !important;
}

button {
  cursor: pointer;
  user-select: none;
}

:disabled {
  cursor: default;
}

::selection {
  background-color: $gray;
  color: $gold;
}

html {
  height: 100%;
}

body {
  font-family: $primary;
  font-size: $defaultSize;
  height: 100%;
}

.hidden-overflow {
  overflow: hidden;
  position: relative;

  &.bx-no-touch {
    padding-right: 16px;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    background: transparent;
    width: 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  width: calc(100% - 50px);
  @include breakpoint(sm) {
    width: calc(100% - 90px);
  }
  @include breakpoint(md) {
    width: calc(100% - 100px);
  }
  @include breakpoint(xl) {
    width: calc(100% - 116px);
  }

  &--offset {
    &_top {
      margin-top: 25px;
      @include breakpoint(sm) {
        margin-top: 34px;
      }
      @include breakpoint(md) {
        margin-top: 48px;
      }
      @include breakpoint(lg) {
        margin-top: 77px;
      }
      @include breakpoint(xl) {
        margin-top: 66px;
      }
    }

    &_left {
      @include breakpoint(lg) {
        padding-left: 319px;
      }
      @include breakpoint(xl) {
        padding-left: 298px;
      }
    }

    &_bottom {
      padding-bottom: 59px;
      @include breakpoint(sm) {
        padding-bottom: 98px;
      }
      @include breakpoint(xl) {
        padding-bottom: 119px;
      }
    }
  }
}
